@media screen and (max-width: 770px) {
 
    /* NAV BAR */
    
    #logo {
        display: inline-block;
        width: 40%;
		padding-top: 2%;
    }
    
    nav {
        display: inline-block;
		width: 57%;
    }
    
    nav a:hover {
        text-transform: none;
    }
    
    nav .current a:hover {
        text-transform: uppercase;
    }
    
    /* FOOTER */
    
	footer {
		margin-top: 20%;
	}
	
	#copyright {
        display: none;
    }
    
    #contact {
        width: 100%;
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    
    /* LANDING PAGE */
    
    #landing-page nav {
        display: none;
    }

    
    /* ABOUT PAGE */
    
    #about {
        padding: 2% 1%;
    }
    
    #about-info {
        float: none;
        width: 100%;
        text-align: justify;
    }
    
    #about-img {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    /* PORTFOLIO */
    
    .entry {
        width: 40%;
        display: inline-block;
		margin-left: 3%;
	}
	
	figcaption {
		padding-bottom: 30px;
	}
	
	.ignore {
		display: none;
	}
    
}
    
@media screen and (max-width: 635px) {
    
    /* NAV BAR */    
    header {
        margin: 0 auto;
        padding: 0;
    }
    
    
    #logo {
        display: block;
        text-align: center;
        width: 100%;
		margin: 1%;
		padding: 2%;
    }
    
    nav {
		display: block;
        text-align: center;
		width: 96%;
    }
    
    nav li {
        display: block;
        margin: 0 auto;
        line-height: 90%;
		padding: 2%;
		font-size: 18px;
    }
    
    /* FOOTER */
    
    #contact img {
        width: 10%;
        padding-left: 5%; 
    }
    
    /* ABOUT PAGE */
    
    #about-info {
        text-align: center;
    }
    
    #about-info h3 {
        display: none;
    }
    
    /* PORTFOLIO */
    
    .entry {
        width: 90%;
        margin: 5%;
    }
    
    .entry img {
        filter: blur(0px);
    }
    
    figcaption {
        text-align: center;
    }
    
}